/*Appearance for header*/
.header{
  background-color: #ffd48a;
  color: #ff6f00;
  font-weight: 500;
  font-size: 50px;
  padding: 20px;
}
/*Appearance for inputs*/
.input{
  color: #d58d07;
}
/*Appearance for result text*/
.text{
  color: #a86f05;
}
/*Appearance for background*/
html{
  background-color: #fbefd5;
}